body {
  background-repeat: repeat;
  text-align: center;
}

h2 {
  font-family: "Roboto", serif;
  font-size: 18px;
  text-align: center;
}

p {
  font-family: "Roboto", serif;
  font-size: 16px;
  text-align: center;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  height: auto;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #666666;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}

img.flowers {
  width: 964px;
  heigth: 500px;
  display: block;
  margin: 0px auto;
  clear: both;
}

img.ich {
  width: 500px;
  heigth: 300px;
  float: left;
}

div. container {
  background-color: yellow;
  height: 300px;
  padding: 10px;
  margin: 20px;
}

img.baby {
  width: 600px;
  heigth: 400px;
  float: right;
}

img.crown {
  width: 500px;
  heigth: 300px;
  float: left;
}

img.eis {
  width: 550px;
  heigth: 400px;
  float: right;
}

img.portrait {
  width: 500px;
  heigth: 400px;
  float: left;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
}




h2 {
  font-family: "Helvetica", Times, serif;
}
