
* {
  font-family: "Cormorant+Garamond", serif;
}

h1 {
  font-family: "Cormorant+Garamond", serif;
  font-size: 40px;
  text-align: center;
}

.uppercase{
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-family: "Cormorant+Garamond", serif;
  font-size: 16px;
  text-align: center;
}

h3 {
  font-family: "Cormorant+Garamond", serif;
  font-size: 30px;
  text-align: center;
}

h4 {
  font-family: "Cormorant+Garamond", serif;
  font-size: 12px;
  text-align: center;
}

h5 {
  font-family: "Cormorant+Garamond", serif;
  font-size: 16px;
  text-align: left;
}

p {
  font-family: "Cormorant+Garamond", serif;
  font-size: 16px;
  text-align: left;
}

.aboutsite{
  width: 500px;
  float:right;
  margin-right: 100px;
  text-align: left;
}

.contactsite {
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.blogsite {
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #ECEBEC;
}

.clear{
  clear:both;
}

.navigation {
  height: auto;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
}

img.flowers {
  width: 1000px;
  heigth: 500px;
  display: block;
  margin: 0px auto;
  clear: both;
}

img.ich {
  width: 600px;
  heigth: 400px;
  float: left;
}

section.ichbin{
  background-color: #FFFFCC;
  height: 400px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3px;
}

img.baby {
  width: 600px;
  heigth: 400px;
  float: right;
  margin-right: 30px;
  margin-top: 3px;
}

section.linn{
  background-color: #C8EAF5;
  height: 400px;
  width: 403px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3px;
}

img.crown {
  width: 530px;
  heigth: 400px;
  float: left;
}

section.flowercrown{
  background-color: #D1E5CC;
  height: 400px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3px;
}

img.eis {
  width: 600px;
  heigth: 400px;
  float: right;
  margin-right: 30px;
  margin-top: 3px;
}

section.roseneis{
  background-color: #FCF3D5;
  height: 400px;
  width: 403px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3px;
}


img.portrait {
  width: 473px;
  heigth: 400px;
  float: right;
}

section.merle{
  background-color: #FCE1EC;
  height: 400px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3px;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 40px;
  font-size: 12pt;
}

img.selfportrait {
  width: 400px;
  float: left;
  margin-right: 10px;
  border: 4px ridge #959594;

}

p.aboutsite {
  font-size: 16px;
  text-align: left;
  margin: 30px;
  padding: 5px;
  margin: 20px;
  text-align: center;
}

img.linn3 {
  width: 600px;
  height: 400px;
}

img.linn2 {
  width: 400px;
  height: 400px;
}

img.linnanziehen {
  width: 600px;
  height: 400px;
}

img.linnbody {
  width: auto;
  height: 400px;
}

img.kind {
  width: auto;
  height: 400px;
}

img.blumenkind {
  width: 600px;
  height: 400px;
}

img.merle {
  width: auto;
  height: 400px;
}

img.caren {
  width: auto;
  height: 400px;
}

img.caroline {
  width: auto;
  height: 400px;
}

img.peony {
  width: auto;
  height: 400px;
}

img.strauss {
  width: auto;
  height: 400px;
}

img.ananas {
  width: auto;
  height: 400px;
}

img.eis2 {
  width: auto;
  height: 400px;
  padding-right: 10px;
}

img.unicorn {
  width: 600px;
  height: 400px;
  padding-right: 10px;
}

img.herzballon {
  width: 400px;
  height: 400px;
}

img.kranz {
  width: 600px;
  height: 400px;
}

img.fingerblume {
  width: 600px;
  height: 400px;
}

img.juliablumen {
  width: auto;
  height: 400px;
}

img.basteln {
  width: 400px;
  height: 400px;
}

img.seifenblasen {
  width: 600px;
  height: 400px;
}

img.julialacht {
  width: 600px;
  height: 400px;
}

img.gruppe {
  width: 400px;
  height: 400px;
}

img.halbkranz {
  width: 600px;
  height: 400px;
}

img.brunchen {
  width: auto;
  height: 400px;
}

img.zettel {
  width: auto;
  height: 400px;
}

img.blumenhand {
  width: 600px;
  height: 400px;
}
